# This is an action to download files from a source repo
# into a particular directory, then update this repo.

name: Copy files from source repo

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
  schedule:
    # This is set to run an hour after the covidregionaldatagraphs workflow runs
    - cron: '30 13 * * 1,3,5,6'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  copy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

    - name: Checkout repo
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Download source and copy output directory
      run: |
        mkdir /tmp/target
        git clone https://.:${{ secrets.GITHUB_TOKEN }}@github.com/RichardMN/covidregionaldatagraphs /tmp/target
        cp -pR /tmp/target/extra/output/* docs/covidregionaldatagraphs

    - name: Commit changes
      uses: EndBug/add-and-commit@v7
      with:
        message: 'Update rendered graphs'
        add: 'docs'
